body {
    position: relative;
}

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

main {
    display: flex;
    padding: 15px 15px 15px 15px;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    /*border: 1px solid blue;*/
}

#categories-list {
    list-style: none;
    padding-left: 0;
}

#categories-list > li {
    margin-bottom: 10px;
}

#categories {
    width: 250px;
    margin-right: 15px;
    /*border: 1px solid green;*/
}

#categories > h2 {
    margin-bottom: 20px;
}

#content {
    width: 100%;
    border-left: 1px solid black;
    /*border: 1px solid red;*/
}

#content > h2 {
    margin-left: 30px;
    margin-bottom: -10px;
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 325px;
    margin: 30px;
    padding: 5px;
}

.item > img {
    width: 60%;
    height: 60%;
}

.item > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item > form * {
    margin: 5px;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
}

#menu > li {
    margin-left: 15px;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-right: -15px;
}

#tools {
    display: flex;
}

.added-to-cart-prompt {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.cart-item > img {
    width: 15%;
    height: 15%;
    margin-right: 15px;
}

.cart-item > form {
    display: flex;
    margin-left: 15px;
}