header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    padding: 10px;
}

.categories-list {
    list-style: none;
    padding-left: 0;
}

.categories-list > li {
    margin-bottom: 15px;
}

.categories-div {
    width: 15%;
    padding-top: 15px;
}

.recommended-articles-div {
    width: 100%;
    padding: 15px;
    border-left: 1px solid black;
}

.recommended-articles-div > h2 {
    padding-left: 15px;
}

.recommended-articles-content {
    display: flex;
    flex-wrap: wrap;
}

.test-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 17%;
    height: 17%;
    margin: 15px;
    padding: 5px;
}

.test-item > img {
    width: 150px;
    height: 150px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu > li {
    margin-left: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: -15px;
}

.tools {
    display: flex;
}