<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online store mockup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <a href="/"><h1>Online store</h1></a>
  <div id="tools">
    <form th:action="@{/items/search}" method="post" id="search-bar">
      <label for="searched-phrase" hidden>Search: </label>
      <input type="text" name="searched-phrase" id="searched-phrase" placeholder="Search for something...">
      <button type="submit">Search</button>
    </form>
    <ul id="menu">
      <li><a th:href="@{/cart}">Cart</a></li>
      <li><a href="#">Log in / Sign up</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </div>
</header>
<main>
  <div id="categories">
    <h2>Categories</h2>
    <ul id="categories-list">
      <li th:each="category: ${categories}"><a
              th:href="@{/items/category(categoryName=${category})}" th:text="${category}"></a>
      </li>
    </ul>
  </div>
  <div id="content">
    <h2 th:text="${title}">Title</h2>
    <div id="items">
      <div th:each="item: ${items}" class="item">
        <img th:src="@{${item.imageUrl}}" alt="Item image">
        <p th:text="${item.name}"></p>
        <p th:text="'Price: ' + ${item.price}"></p>
        <form method="post" th:action="@{/cart/add}">
          <input type="hidden" name="item-id" th:value="${item.id}">
          <label>Quantity: <input type="number" name="quantity" value="1" min="1" max="10000"></label>
          <input type="submit" value="Add to cart">
        </form>
      </div>
    </div>
  </div>
</main>
</body>
</html>
