<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online store mockup</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Online store</h1>
        <ul class="menu">
            <li><a href="#">Log in / Sign up</a></li>
            <li><a href="#">Menu</a></li>
        </ul>
    </header>
    <main>
        <div class="categories-div">
            <ul class="categories-list">
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#">Category 4</a></li>
                <li><a href="#">Category 5</a></li>
                <li><a href="#">Category 6</a></li>
                <li><a href="#">Category 7</a></li>
                <li><a href="#">Category 8</a></li>
                <li><a href="#">Category 9</a></li>
                <li><a href="#">Category 10</a></li>
            </ul>
        </div>
        <div class="recommended-articles">
            <div class="test-item">
                <img src="http://dummyimage.com/183x100.png/cc0000/ffffff" alt="Some random image">
                <p>Article name 1</p>
                <p>Price: </p>
            </div>
            <div class="test-item">2</div>
            <div class="test-item">3</div>
            <div class="test-item">4</div>
            <div class="test-item">5</div>
            <div class="test-item">6</div>
            <div class="test-item">7</div>
            <div class="test-item">8</div>
            <div class="test-item">9</div>
            <div class="test-item">10</div>
            <div class="test-item">11</div>
            <div class="test-item">12</div>
            <div class="test-item">13</div>
            <div class="test-item">14</div>
        </div>
    </main>
</body>
</html>